[loggers]
keys=root,ipfs_learning_tangle

[handlers]
keys=fileHandler, consoleHandler

[formatters]
keys=logFormatter,consoleFormatter

[logger_root]
level=INFO
handlers=consoleHandler

[logger_ipfs_learning_tangle]
level=INFO
handlers=consoleHandler, fileHandler
qualname=ipfs_learning_tangle
#propagate=0 Does not pass messages to ancestor loggers(root)
propagate=1

[handler_consoleHandler]
class=StreamHandler
level=INFO
formatter=consoleFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
level=INFO
formatter=logFormatter
args=("/logs/ipfs_learning_tangle.log", "a")

[formatter_logFormatter]
format=%(asctime)s | %(levelname)-6s | %(filename)s-%(funcName)s-%(lineno)04d | %(message)s

[formatter_consoleFormatter]
format=%(asctime)s | %(levelname)-6s | %(filename)s-%(funcName)s-%(lineno)04d | %(message)s
